<!-- 
    - #HEADER
  -->

<main>
    <article>
        <!-- 
        - #HERO
      -->

        <!-- 
        - #SERVICE
      -->

        <section class="section service" id="service" aria-label="service">
            <div class="container">
                <h2 class="h2 section-title">Services We Provided</h2>

                <p class="section-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna.
                </p>

                <ul class="grid-list">
                    <li>
                        <div class="service-card">
                            <div
                                class="card-icon"
                                style="background-color: #13c4a1"
                            >
                                <ion-icon name="chatbox"></ion-icon>
                            </div>

                            <h3 class="h3">
                                <a href="#" class="card-title"
                                    >SEO Optimization</a
                                >
                            </h3>

                            <p class="card-text">
                                Sed ut perspiciatis unde omnis iste natus error
                                sit tatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="service-card">
                            <div
                                class="card-icon"
                                style="background-color: #6610f2"
                            >
                                <ion-icon name="desktop"></ion-icon>
                            </div>

                            <h3 class="h3">
                                <a href="#" class="card-title"
                                    >Digital Marketing</a
                                >
                            </h3>

                            <p class="card-text">
                                Sed ut perspiciatis unde omnis iste natus error
                                sit tatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="service-card">
                            <div
                                class="card-icon"
                                style="background-color: #ffb700"
                            >
                                <ion-icon name="bulb"></ion-icon>
                            </div>

                            <h3 class="h3">
                                <a href="#" class="card-title"
                                    >Market Research</a
                                >
                            </h3>

                            <p class="card-text">
                                Sed ut perspiciatis unde omnis iste natus error
                                sit tatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="service-card">
                            <div
                                class="card-icon"
                                style="background-color: #fc3549"
                            >
                                <ion-icon name="phone-portrait"></ion-icon>
                            </div>

                            <h3 class="h3">
                                <a href="#" class="card-title"
                                    >Keyword Targeting</a
                                >
                            </h3>

                            <p class="card-text">
                                Sed ut perspiciatis unde omnis iste natus error
                                sit tatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="service-card">
                            <div
                                class="card-icon"
                                style="background-color: #00d280"
                            >
                                <ion-icon name="archive"></ion-icon>
                            </div>

                            <h3 class="h3">
                                <a href="#" class="card-title"
                                    >Email Marketing</a
                                >
                            </h3>

                            <p class="card-text">
                                Sed ut perspiciatis unde omnis iste natus error
                                sit tatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="service-card">
                            <div
                                class="card-icon"
                                style="background-color: #ff612f"
                            >
                                <ion-icon name="build"></ion-icon>
                            </div>

                            <h3 class="h3">
                                <a href="#" class="card-title"
                                    >Marketing & Reporting</a
                                >
                            </h3>

                            <p class="card-text">
                                Sed ut perspiciatis unde omnis iste natus error
                                sit tatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- 
        - #PROJECT
      -->
        <!-- 
        - #ABOUT
      -->
        <!-- 
        - #CTA
      -->
        <!-- 
        - #BLOG
      -->

        <section class="section blog" id="blog" aria-label="blog">
            <div class="container">
                <h2 class="h2 section-title">Latest Articles Updated Weekly</h2>

                <p class="section-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                </p>

                <ul class="grid-list">
                    <li>
                        <div class="blog-card">
                            <figure
                                class="card-banner img-holder"
                                style="--width: 860; --height: 646"
                            >
                                <img
                                    src="./assets/images/blog-1.jpg"
                                    width="860"
                                    height="646"
                                    loading="lazy"
                                    alt="How to Become a Successful Entry Level UX Designer"
                                    class="img-cover"
                                />
                            </figure>

                            <div class="card-content">
                                <time class="time" datetime="2022-06-16"
                                    >June 16, 2022</time
                                >

                                <h3 class="h3">
                                    <a href="#" class="card-title"
                                        >How to Become a Successful Entry Level
                                        UX Designer</a
                                    >
                                </h3>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="blog-card grid">
                            <figure
                                class="card-banner img-holder"
                                style="--width: 860; --height: 646"
                            >
                                <img
                                    src="./assets/images/blog-2.jpg"
                                    width="860"
                                    height="646"
                                    loading="lazy"
                                    alt="2022 Local SEO Success: The Year of Everywhere"
                                    class="img-cover"
                                />
                            </figure>

                            <div class="card-content">
                                <time class="time" datetime="2022-06-16"
                                    >June 16, 2022</time
                                >

                                <h3 class="h3">
                                    <a href="#" class="card-title"
                                        >2022 Local SEO Success: The Year of
                                        Everywhere</a
                                    >
                                </h3>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="blog-card grid">
                            <figure
                                class="card-banner img-holder"
                                style="--width: 860; --height: 646"
                            >
                                <img
                                    src="./assets/images/blog-3.jpg"
                                    width="860"
                                    height="646"
                                    loading="lazy"
                                    alt="The Guide to Running a Client Discovery Process"
                                    class="img-cover"
                                />
                            </figure>

                            <div class="card-content">
                                <time class="time" datetime="2022-06-16"
                                    >June 16, 2022</time
                                >

                                <h3 class="h3">
                                    <a href="#" class="card-title"
                                        >The Guide to Running a Client Discovery
                                        Process</a
                                    >
                                </h3>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="blog-card grid">
                            <figure
                                class="card-banner img-holder"
                                style="--width: 860; --height: 646"
                            >
                                <img
                                    src="./assets/images/blog-4.jpg"
                                    width="860"
                                    height="646"
                                    loading="lazy"
                                    alt="3 Ways to Get Client Approval for Scope Changes"
                                    class="img-cover"
                                />
                            </figure>

                            <div class="card-content">
                                <time class="time" datetime="2022-06-16"
                                    >June 16, 2022</time
                                >

                                <h3 class="h3">
                                    <a href="#" class="card-title"
                                        >3 Ways to Get Client Approval for Scope
                                        Changes</a
                                    >
                                </h3>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="blog-card grid">
                            <figure
                                class="card-banner img-holder"
                                style="--width: 860; --height: 646"
                            >
                                <img
                                    src="./assets/images/blog-5.jpg"
                                    width="860"
                                    height="646"
                                    loading="lazy"
                                    alt="Top 21 Must-Read Blogs For Creative Agencies"
                                    class="img-cover"
                                />
                            </figure>

                            <div class="card-content">
                                <time class="time" datetime="2022-06-16"
                                    >June 16, 2022</time
                                >

                                <h3 class="h3">
                                    <a href="#" class="card-title"
                                        >Top 21 Must-Read Blogs For Creative
                                        Agencies</a
                                    >
                                </h3>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- 
        - #CONTACT
      -->
    </article>
</main>

<!-- 
    - #FOOTER
  -->

<!-- 
    - #BACK TO TOP
  -->
